
    .todo-item{

        background: lightgray;
        border-bottom: 1px solid gray;
        padding:1em;

        &--completed{
            p{
                text-decoration: line-through;
            }
        }

        &__del{
            background: red;
            color:white;
            border:none;
            border-radius: 25px;
            height: 25px;
            width: 25px;
            cursor: pointer;
            float: right;
        }
    }
